.admin-block {
	top: 50%;
}

.max-content {
	width: max-content;
}
.min-content {
	width: min-content;
}

.lh-md {
	line-height: 1rem;
}
.lh-sm {
	line-height: 0.75rem;
}





.table td, .table th, .table thead th {
	vertical-align: middle;
}

ul.chosen-choices {
	height: 100% !important;
}

.cursor-pointer {
	cursor: pointer;
}

.visiblility {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.dataTables_length {
	display: none;
}
.dataTables_filter {
	float: left !important;
}

/* ПЕРЕКРАСКА :( */
.header {
	background-color: rgb(35, 64, 143);
}
.btn-header {
	color: #fff;
	font-weight: bold;
	display: flex;
	align-items: center;
	height: 3rem;
}
.btn-header:hover {
	color: #fff;
	background-color: #4261b5;
}
.btn-csm {
	background-color: rgb(35, 64, 143) !important;
	color: #fff !important;
	border: none !important
}
.btn-csm:hover {
	background-color: #4261b5 !important;
	color: white !important;

}
.btn-outline-csm {
    color: rgb(35, 64, 143) !important;
    border-color: rgb(35, 64, 143) !important;
}
.btn-outline-csm:not(:disabled):not(.disabled).active, .btn-outline-csm:hover {
		color: #fff !important;
    background-color: rgb(35, 64, 143) !important;
    border-color: rgb(35, 64, 143) !important;
}
