.admin-block {
	top: 50%;
}

.max-content {
	width: max-content;
}
.min-content {
	width: min-content;
}

.lh-md {
	line-height: 1rem;
}
.lh-sm {
	line-height: 0.75rem;
}





.table td, .table th, .table thead th {
	vertical-align: middle;
}

ul.chosen-choices {
	height: 100% !important;
}

.cursor-pointer {
	cursor: pointer;
}

.visiblility {
    visibility: hidden;
    height: 0;
    opacity: 0;
}

.dataTables_length {
	display: none;
}
.dataTables_filter {
	float: left !important;
}
